.home {
  overflow-x: hidden;
  background-image: url("../../bannerImage/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  text-align: center;
  font-size: 50px;
  color: #45465c;
  padding-top: 60px;
}
@media screen and (max-width: 360px) {
  .home {
    width: 360px;
  }
  .header {
    font-size: 35px;
  }
}
